<div class="row">
  <table id="artwork-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Photo</th>
        <th>Category</th>
        <th>Series Number</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @artworks.each do |artwork| %>
      <tr>
        <td><%= artwork.id %></td>
        <td><%= artwork.title %></td>
        <td><%= image_tag artwork.photo, size: '125x125'%></td>
        <td><%= artwork.category.name %></td>
        <td><%= artwork.number_in_series %></td>
        <td><%= artwork.date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
