<div class="row">
  <%= form_for @artwork do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :number_in_series %>
  <%= f.number_field :number_in_series %>

  <%= f.label :category_id %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>

  <%= f.label :photo %>
  <%= f.file_field :photo %>

  <%= f.label :artwork_date %>
  <%= date_field :artwork, :date %>

  <%= f.submit "Submit" %>

  <% end %>
</div>
